<nav class="w-full border-b border-gray-300 p-2 px-4">
  <div class="flex justify-start items-center w-full">
    <input type="text" placeholder="Search" class="bg-white rounded p-1 px-3 border border-gray-200 w-1/2 outline-none">   
  </div> 
</nav>